.presentation-page .main {
    margin-top: 0px;
}
.presentation-page .section-header .card:nth-child(1) {
    position: relative;
    z-index: 2;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p, .navbar, .brand, a, .td-name, td {
    font-family: 'Exo 2', sans-serif;
}